<p>contributors</p>
<ul>

    {{#each content as |contributor|}}
      <li> <img src="{{contributor.avatar_url}}" height='48' ><a target="_blank" href="{{contributor.html_url}}">{{contributor.login}}</a></li>
      {{/each}}
</ul>

{{outlet}}
