<h2>My Favourite Orgs</h2>

<ul>
{{#each content as |o|}}
  {{github-org
  org=o
  on-fav-clicked="favClicked"
  testVar="vicky"}}
  {{/each}}

</ul>


{{social-info
  name="Vicky Kotu"
  twitter="vikkii89"
  github="vkotu"
  linkedin="venkatkotu"
  on-links-toggle="linksToggled"}}
{{outlet}}
