<h2>My Favourite Orgs</h2>

<ul>
    {{#each content as |org|}}

    <li><span {{action 'favClicked' org.id}}>[ Add To Favorite ]</span>{{link-to org.id 'org' org.id}}</li>

      {{/each}}
</ul>
{{outlet}}
